# Copiez ce fichier vers .env et adaptez les valeurs si besoin.
POSTGRES_DB=election
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

PGADMIN_DEFAULT_EMAIL=admin@election.sn
PGADMIN_DEFAULT_PASSWORD=admin

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=votes

KAFKA_TOPIC=votes
VOTE_INTERVAL_SECONDS=2
SENEGAL_VOTE_RATIO=0.80
TRIGGER_INTERVAL=10 seconds
SHUFFLE_PARTITIONS=4
SPARK_WORKER_MEMORY=2G
SPARK_WORKER_CORES=2
